body {
    background-image: url(../assets/bg.jpeg);
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.landing {
    max-width: 400px;
    margin: 80px auto;
    padding: 25px;
    text-align: center;
    background-color: #f5f4d9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Judul */
.landing h2 {
    margin-bottom: 15px;
    color: #30281e;
}

/* Paragraf */
.landing p {
    margin: 5px 0;
}

/* Link tombol */
.landing a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

/* Tombol utama */
.landing a:first-of-type {
    background-color: #544738;
    color: #fff;
}
.landing a:first-of-type:hover {
    background-color: #30281e;
    color: #fff;
}

/* Tombol kedua */
.landing .btn-secondary {
    background-color: #E5D7C4;
    color: #000;
}
.landing .btn-secondary:hover {
    background-color: #c9bfae;
    color: #000;
}