 /* Body */
body {
    background-image: url(../assets/bg.jpeg);
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* Container form */
.container {
    max-width: 500px;
    margin: 80px auto;
    height: auto;
    padding: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px #E5D7C4;
    background-color: #889063d7; /* biar teks tetap kebaca */
}

/* Judul */
.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #f2f4f2;
}

/* Label */
.form-label {
    font-weight: 500;
    color: #f9f6f6;
}

/* Input */
.form-control {
    border-radius: 8px;
    padding: 10px;
}

/* Hover input */
.form-control:focus {
    border-color: #fcf4b5;
    box-shadow: 0 0 15px #69664d;
}

/* Tombol */
.btn {
    border-radius: 8px;
    padding: 10px 15px;
    width: 48%;
}

.btn-success {
    background-color:   #544738;
    border: none;
}
.btn-success:hover {
    background-color:  #30281e;
    border: none;
}

.btn-secondary {
    background-color: #E5D7C4;
    border: none;
}
.btn-secondary:hover {
    background-color: #c9b8a0;
    border: none;
}

/* Link login */
p {
    text-align: center;
    margin-top: 15px;
}

p a {
    text-decoration: none;
    color: #E5D7C4;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
