body {
    background-image: url(../assets/bg.jpeg);
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
/* Box jumlah poin */
.jumlah h1 {
    max-width: full;
    margin: 0px 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: #707556d7;
    border-radius: 12px;
    box-shadow: 0 0px 10px #E5D7C4;
    color: #f5f4d9;
    font-size: 24px;
}

.hadiah {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;

    background-color: #f5f4d9a4;
    border-radius: 15px;

    display: flex;         
    justify-content: space-around;  
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Card hadiah */
.card {
    margin-top: 50px;
    border-radius: 15px;
    background-color: #E5D7C4;
    border:dashed 2px #544738;
}

/* Hover efek */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Isi card */
.card-body {
    text-align: center;
}

/* Judul hadiah */
.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #30281e;
}

/* Tombol redeem */
.card .btn {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}

/* Tombol utama */
.btn-primary {
    background-color: #89755e;
    border: none;
}

.btn-primary:hover {
    background-color: #594a38;
}

   
   
